<%- include('partials/header') -%>

	<!-- top-images-section 
			================================================== -->
	<section class="top-slider-section background-grey">
		<div class="container">
			<div class="top-slider-box text-center">
				<div class="owl-wrapper">
					<div class="owl-carousel" data-num="1">
						<% articles.forEach(article=> { %>
							<%if(article.homepage=="homepage" ) {%>
								<div class="item">
									<div class="news-post image-post">
										<img src="<%= article.path %>" alt="">
										<div class="hover-post">
											<div><a class="category-link" href="#">
													<%= article.category %>
												</a></div>
											<h2><a href="articles/<%= article.slug %>">
													<%= article.title %>.
												</a></h2>
											<ul class="post-tags">
												<!-- <li><a href="#">3 comments</a></li> -->
												<li>
													<%= article.createdAt.toLocaleDateString() %>
												</li>
												<li>by <a href="#">John Smith</a></li>
											</ul>
										</div>
									</div>
								</div>
								<%}%>
									<% }) %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End top-images section -->




	<!-- fresh-section2 
			================================================== -->
	<section class="fresh-section2">
		<div class="container">
			<div class="title-section text-center">
				<h1>Trending Posts</h1>
			</div>
			<div class="fresh-box">
				<div class="row">
					<% articles.forEach(article=> { %>
						<%if(article.trending=="trending" ) {%>
							<div class="col-lg-4 col-md-6">
								<div class="news-post standard-post left-align">
									<div class="image-holder">
										<a href="articles/<%= article.slug %>"><img src="<%= article.path %>"
												alt=""></a>
									</div>
									<a class="text-link" href="#">
										<%= article.category %>
									</a>
									<h2><a href="articles/<%= article.slug %>">
											<%= article.title %>
										</a></h2>
									<ul class="post-tags">
										<li>by <a href="#">Stan Enemy</a></li>
										<li>
											<%= article.createdAt.toLocaleDateString() %>
										</li>
									</ul>
								</div>
							</div>
							<%}%>
								<% }) %>
									<% articles.forEach(article=> { %>
										<%if(article.trending=="subtrending" ) {%>
											<div class="col-lg-4 col-md-6">
												<div class="news-post standard-post left-align">
													<a class="text-link" href="#">
														<%= article.category %>
													</a>
													<h2><a href="articles/<%= article.slug %>"
															style="font-weight: 100;">
															<%= article.title %>
														</a></h2>
													<ul class="post-tags">
														<li>by <a href="#">Stan Enemy</a></li>
														<li>
															<%= article.createdAt.toLocaleDateString() %>
														</li>
													</ul>
												</div>
											</div>
											<%}%>
												<% }) %>
													<!-- <div style="display: flex; align-items: center; justify-content: center;">
						<a class="button-one" href="#">Load More</a>
					  </div> -->

				</div>
			</div>
		</div>
	</section>
	<!-- End fresh section -->


	<!-- video section 
			================================================== -->
	<section class="video-section light-version">
		<div class="container">
			<div class="title-section text-center">
				<h1>Featured Video</h1>
			</div>
			<div class="video-box owl-wrapper">

				<div class="owl-carousel" data-num="3">
					<% videos.forEach(video=> { %>
						<div class="item">
							<div class="news-post video-post">
							<iframe width="370" height="270" src="<%= video.source %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<a class="text-link" href="#">
									<%=video.category%>
								</a>
								<h2><a href="single-post.html">
										<%=video.title%>.
									</a></h2>
								<ul class="post-tags">
									<li>
										<%=video.createdAt.toLocaleDateString()%>
									</li>
								</ul>
							</div>
						</div>
						<%})%>
				</div>
			</div>
		</div>
	</section>
	<!-- End video section -->

	<!-- blog section 
			================================================== -->
	<section class="blog-section">
		<div class="container">
			<div class="title-section">
				<h1>Latest-Posts</h1>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-box grid-style">
						<% for(i=0; i<1; i++) { %>
							<% article=articles[i]%>
								<div class="news-post article-post">
									<div class="image-holder">
										<img src="<%= article.path %>" alt="">
									</div>
									<a class="text-link">
										<%= article.category%>
									</a>
									<h2><a href="articles/<%= article.slug %>">
											<%= article.title%>
										</a></h2>
									<ul class="post-tags">
										<li>
											<%= article.createdAt.toLocaleDateString()%>
										</li>
										<!-- <li><a href="#">3 comments</a></li> -->
										<li>by <a href="#">John Smith</a></li>
									</ul>
									<p>
										<%= article.description%> ...
									</p>
									<a class="text-link" href="articles/<%= article.slug %>">Read More</a>
								</div>
								<% }%>

									<div class="row">
										<% for(i=1; i<=5; i++) { %>
											<% article=articles[i]%>
												<div class="col-md-6">
													<div class="news-post article-post">
														<div class="image-holder">
															<img src="<%= article.path %>" alt="">
														</div>
														<a class="text-link">
															<%= article.category%>
														</a>
														<h2><a href="articles/<%= article.slug %>">
																<%= article.title%>.
															</a></h2>
														<ul class="post-tags">
															<li>
																<%= article.createdAt.toLocaleDateString()%>
															</li>
															<!-- <li><a href="#">3 comments</a></li> -->
															<li><a href="<%= article.source %>">Source</a></li>
														</ul>
														<p>
															<%= article.description%> ...
														</p>
														<a class="text-link" href="articles/<%= article.slug %>">Read
															More</a>
													</div>
												</div>
												<% }%>
									</div>
									<!-- <div class="center-button">
							<a class="button-one" href="#">Load More</a>
						</div> -->
					</div>
				</div>
				<%- include('partials/sidebar') -%>
			</div>
		</div>
	</section>
	<!-- End blog section -->

			<%- include('partials/footer') -%>