<%- include('../partials/admin-header') -%>
<section style="margin: 50px;">
  <div class="container">
    <h1 class="mb-4">Categories</h1>
    <a href="/articles/category/new" class="btn btn-success">New Category</a>

    <% category.forEach(category => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= category.category %></h4>
          <a href="/articles/category/edit/<%= category.id %>" class="btn btn-info" target="_blank">Edit</a>
          <form action="/articles/category/<%= category.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</section>

  <%- include('../partials/footer') -%>