<div class="form-group">
  <label for="title">Title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"
    style="white-space: pre-wrap;"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<div class="form-group">
  <label for="category">Choose a category:</label>
<select name="category" id="category">
  <option value="<%= article.category %>" selected><%= article.category %></option>
  <% categories.forEach(categories => { %>
  <option value="<%= categories.category%>"><%= categories.category%></option>
  <%})%>
</select>
</div>

<div class="form-group">
  <% if(article.trending == "trending") {%>
  <% val = "checked"}%>
  <input type="checkbox" id="trending" name="trending" value="trending" <%=val%> >
  <label for="trending"> Is Trending</label>
</div>


<div class="form-group">
  <label for="key">Keywords</label>
  <%var words=article.keywords.join()%>
    <textarea name="key" id="key" class="form-control" style="white-space: pre-wrap;"><%= words %></textarea>
</div>


<a href="/all" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>