<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Videos</title>
</head>

<body>
  <div class="form-group container" style="margin-top: 20px">
    <form action="/articles/video/edit/<%= videos.id%>" method="post">
      <label for="title">Title:</label>
      <input required type="text" name="title" id="title" class="form-control" value="<%= videos.title%>">
      <div class="form-group">
        <label for="category">Choose a category:</label>
        <select name="category" id="category">
          <option value="<%= videos.category %>" selected><%= videos.category %></option>
          <% categories.forEach(categories=> { %>
            <option value="<%= categories.category%>">
              <%= categories.category%>
            </option>
            <%})%>
        </select>
      </div>
      <label for="source">Source:</label>
      <textarea required name="source" id="source" class="form-control"><%= videos.source %></textarea>
      <a href="/video" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>

</html>